<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= word.toUpperCase() %> | Định nghĩa trong từ điển tiếng Anh
    </title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/word.css" />
  </head>
  <body>
    <div class="all-page">
      <section class="navigation-bar">
        <div class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="navbar-header">
                  <button
                    class="navbar-toggle"
                    data-target="#mobile_menu"
                    data-toggle="collapse"
                  >
                    <span class="icon-bar"></span><span class="icon-bar"></span
                    ><span class="icon-bar"></span>
                  </button>
                  <a href="/" class="navbar-brand">DeeTee Dictionary</a>
                </div>

                <div class="navbar-collapse collapse" id="mobile_menu">
                  <ul class="nav navbar-nav">
                    <li><a href="/dictionary">Dictionary</a></li>
                    <li><a href="/translate">Translate</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#"
                        ><span class="glyphicon glyphicon-user"></span>
                        Profile</a
                      >
                    </li>
                    <li>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        ><span class="glyphicon glyphicon-log-in"></span> Login
                        / Sign Up <span class="caret"></span
                      ></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign Up</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="search-bar">
        <div class="wrapper">
          <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <form action="/" id="form_search" method="post">
              <input
                type="text"
                placeholder="Search English"
                id="value_search"
                name="word"
              />
            </form>
            <div class="autocom-box">
              <!-- here list are inserted from javascript -->
            </div>
            <div class="icon"><i class="fas fa-search"></i></div>
          </div>
        </div>
      </section>
    </div>

    <section class="result">
      <p>
        <i>Ý nghĩa của <b><%= word %></b></i> trong tiếng Anh
      </p>
      <div class="line-1"></div>
      <div class="show">
        <div class="word_value"><b> <%= word %> </b></div>
        <% for (let type of type_list) { %>
        <div class="type">
          <p>
            <% let _type = ''; if (type === 'n') { _type = 'noun' } else if
            (type === 'v') { _type = 'verb' } else if ( type === 's' || type ===
            'a') { _type = 'adjective' } else if (type === 'r') { _type =
            'adverb' } %>
            <i><%= _type %></i>
          </p>
        </div>

        <div class="ol-setting">
          <ol>
            <% for (let id of list_id) { %> <% if (id_type.get(id) === type) {
            %> <% let arr = id_gloss.get(id).split(';') %>
            <li style="font-size: 18px">
              <b style="line-height: 25px; font-size: 18px"
                ><%= arr[0] %> <br
              /></b>
              <p></p>
            </li>
            <% if (arr.length > 1) { %>
            <ul>
              <% for (let a of arr) { %> <% if (arr.indexOf(a) == 0) { %> <%
              continue %> <% } else { %>
              <li style="list-style-type: disc; font-size: 18px">
                <i><%= a %></i> <br />
              </li>
              <% } %> <% } %>
            </ul>
            <% } %> <% } %> <% } %>
          </ol>
        </div>

        <% } %>
      </div>
    </section>

    <!-- <script src="js/search/autocompleted.js"></script>
    <script src="js/search/ListWord.js"></script> -->

    //
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
